@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    background-color: #344a50;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 20px;
}

header h3 {
    margin: 20px;
    width: 700px;
}

header p {
    margin: 20px;
}

.container {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    background-color: #344a50;
    padding: 70px;
    display: flex;
    align-items: center;
}